<h1>Listing user_takasus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_takasus.each do |user_takasu| %>
  <tr>
    <td><%= user_takasu.name %></td>
    <td><%= user_takasu.point %></td>
    <td><%= link_to 'Show', user_takasu %></td>
    <td><%= link_to 'Edit', edit_user_takasu_path(user_takasu) %></td>
    <td><%= link_to 'Destroy', user_takasu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User takasu', new_user_takasu_path %>
